.device{
    button {
        margin-left: 25px;
    }
    .deal{
        a{
            margin-left: 5px;
            padding:5px 7px;
            border-radius: 5px;
            background-color: rgb(233, 123, 123);
            color: #fff;
            font-size: 7px;
        }
                a:first-child,a:nth-child(2),a:nth-child(3) {
                   background-color: #1890ff;
               }
                a:nth-child(4) {
                   background-color: #f09f08;
               }
    
    }
 .deal1{
    margin-top:10px;
     a{
        margin-left: 5px;
            padding:5px 7px;
            border-radius: 5px;
            background-color: rgb(233, 123, 123);
            color: #fff;
            font-size: 7px; 
            
     }
     a:first-child,a:nth-child(2) {
        background-color: #f09f08;
    }
    
 }


}
div.ant-notification.ant-notification-topRight{
    top:15em !important;
    right: 50em !important;
}
div.ant-notification-notice.ant-notification-notice-closable{
    width:700px !important;
}
.ant-table table{
    margin-top:20px;
}